<!doctype html>
<% category = current_path.delete_suffix '/index.html' %>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || category || "Index" %></title>
    <%= stylesheet_link_tag "bamboo/main.css" %>
    <%= stylesheet_link_tag (current_page.data.style || "index") %>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
  </head>
  <body>
    <main>
    <% if !current_page.data.nofooter %>
      <div class="nav_header">
        <span class="prev"></span>
        <span class="up"><%= link_to "↑ " + "Blog" + " ↑", config.http_prefix %></span>
        <span class="next"></span>
      </div>
      <br />
      <hr width="100%"/>
      <br />
    <% end %>

    <h1><%= current_page.data.title || category || "Index" %></h1>

    <%= yield %>

    <% if !current_page.data.nofooter %>
      <br />
      <hr width="100%"/>
      <br />
      <div class="nav_footer">
        <span class="prev"></span>
        <span class="up"><%= link_to "↑ " + "Blog" + " ↑", config.http_prefix %></span>
        <span class="next"></span>
      </div>
    <% end %>
    </main>
    <% if environment == :transactionalblog %>
    <script data-goatcounter="https://transactionalblog.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <% end %>
  </body>
</html>
