<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag (current_page.data.style || "post") %>
    <%= stylesheet_link_tag "coderay" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/g2plot/2.4.19/g2plot.min.js" integrity="sha512-OpJr+ltzajlHXM+/bLHL6CL6kCzAnh0b7yCHnWb1nF1bofEWBnwAA3VtnVXEqROr4Tmet7pSfoEVtK9w88L6Hg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@antv/data-set@0.11.8/build/data-set.js"></script>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <h1><%= if current_page.data.no_title then "" else current_page.data.title end %></h1>
    <%= yield %>
    <% if environment == :transactionalblog %>
    <script data-goatcounter="https://transactionalblog.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <% end %>
  </body>
</html>
