<!doctype html>
<% category_name = blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden || current_page.data.hidden }
  .select {|a| a.path.end_with? 'index.html'}
  .map {|a| [a.data.category, a.title]}
  .to_h %>
<% page_features = if current_page.data.features then current_page.data.features.split(/, */) else [] end %>
<%
if current_page.data.category == 'blog' then
  page_up = config.http_prefix
  category_articles = blog.articles
    .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden || current_page.data.hidden }
    .select {|a| a.data.category == current_page.data.category}
    .sort_by {|a| a.date}
    .reverse
else
  page_up = blog.articles
    .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden || current_page.data.hidden }
    .select {|a| a.data.category == current_page.data.category}
    .select {|a| a.path.end_with? 'index.html'}
    .first
  category_articles = blog.articles
    .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden || current_page.data.hidden }
    .select {|a| a.data.category == current_page.data.category}
    .select {|a| !(a.path.end_with? 'index.html')}
    .sort_by {|a| a.data.order.to_i}
end
this_page_idx = category_articles.find_index {|a| a.path == current_page.path}
page_prev = if this_page_idx and this_page_idx > 0 then category_articles[this_page_idx-1] else nil end
page_next = if this_page_idx and this_page_idx+1 < category_articles.length then category_articles[this_page_idx+1] else nil end
up_title = if current_page.data.category != 'blog' then category_name[current_page.data.category] else 'Blog' end
%>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "bamboo/main.css" %>
    <%= stylesheet_link_tag (current_page.data.style || "post") %>
    <%= stylesheet_link_tag "code-highlighting" %>
    <% if page_features.include? 'font-awesome' %>
      <%= stylesheet_link_tag "font-awesome.css" %>
    <% end %>
    <%= javascript_include_tag "aside-positioning" %>
    <% if page_features.include? 'plot' or page_features.include? 'dataframe' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
      <%= javascript_include_tag "plotutil" %>
      <script src="https://unpkg.com/dataframe-js@1.4.4/dist/dataframe.min.js" referrerpolicy="no-referrer"></script>
    <% end %>
    <% if page_features.include? 'plot' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/g2plot/2.4.19/g2plot.min.js" integrity="sha512-OpJr+ltzajlHXM+/bLHL6CL6kCzAnh0b7yCHnWb1nF1bofEWBnwAA3VtnVXEqROr4Tmet7pSfoEVtK9w88L6Hg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <% end %>
    <% if page_features.include? 'python_wasm' %>
      <script src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js"></script>
    <% end %>
    <% if page_features.include? 'alpine' %>
      <script src="https://unpkg.com/alpinejs" defer></script>
    <% end %>
    <% if page_features.include? 'ejs' %>
      <script src="https://www.unpkg.com/ejs@3.1.9/ejs.min.js" referrerpolicy="no-referrer"></script>
    <% end %>
  </head>
  <body>
    <main>
    <% if !current_page.data.nofooter %>
    <div class="nav_header">
      <span class="prev"><%= if page_prev then link_to ("↤ " + page_prev.title), page_prev end %></span>
      <span class="up"><%= link_to "↑ " + up_title + " ↑", page_up %></span>
      <span class="next"><%= if page_next then link_to (page_next.title + " ↦"), page_next end %></span>
    </div>
    <hr width="100%"/>
    <% end %>
    <h1><%= if current_page.data.no_title then "" else current_page.data.title end %></h1>
    <aside class="postmeta">
      <%=
      metadata = []
      if current_page.data.hidden then metadata.append("Hidden") end
      if current_page.data.date then metadata.append("Posted " + current_page.data.date.strftime("%Y-%m-%d")) end
      if current_page.data.updated then metadata.append("Updated " + current_page.data.updated.strftime("%Y-%m-%d")) end
      metadata = metadata.join '<br>'
      if metadata then '<p>' + metadata + '</p>' end
      %>
    </aside>
    <%= if current_page.data.disclaimer then "<aside><p>" + current_page.data.disclaimer + "</p></aside>" end %>
    <%= yield %>
    <!-- TODO: consider https://utteranc.es/ for in-page comments. -->
    <% if !current_page.data.nofooter %>
      <hr width="100%"/>
      <div class="nav_footer">
        <span class="prev"><%= if page_prev then link_to ("↤ " + page_prev.title), page_prev end %></span>
        <span class="up"><%= link_to "↑ " + up_title + " ↑", page_up %></span>
        <span class="next"><%= if page_next then link_to (page_next.title + " ↦"), page_next end %></span>
      </div>
      <% category_heading = if current_page.data.category != 'blog' then category_name[current_page.data.category] + ": " else "" end .titleize %>
      <p><a href="https://discu.eu/?q=<%= "https://transactional.blog" + current_page.url %>&submit_title=<%= category_heading + current_page.data.title %>">See discussion of this page on Reddit, HN, and lobsters.</a></p>
    <% end %>
    </main>
    <% if environment == :transactionalblog %>
    <script data-goatcounter="https://transactionalblog.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <% end %>
  </body>
</html>
