---
layout: none
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <title>Transactional</title>
  <link href="<%= config[:domain] %>" />
  <updated><%= Time.now.utc.iso8601 %></updated>
  <id>https://transactional.blog/</id>
  <icon>/favicon.ico</icon>
  <atom:link href="<%= join_paths(config[:domain], "feed.xml") %>" rel="self" type="application/rss+xml"/>

<% blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden}
  .select {|a| !(a.path.end_with? 'index.html')}
  .map {|a| [ a.data.date.is_a?(String) ? Time.zone.parse(a.data.date) : a.data.date, a]}
  .sort_by {|date, a| [date, (a.data&.order&.to_i || 0)]} # no nil allowed in sort
  .reverse
  .each do |date, post| %>
  <entry>
    <title><%= post.title %></title>
    <link href="<%= join_paths(config[:domain], config[:http_prefix], post.url) %>" />
    <id><%= post.url %></id>
    <author></author>
    <category term="<%= post.data.category %>" />
    <published><%= date.iso8601 %></published>
    <% if post.summary %>
    <% summary_text = html_to_text(post.summary.strip.delete("\n")) %>
    <% if summary_text %>
    <summary><%= summary_text %></summary>
    <% end %>
    <% end %>
  </entry>
<% end %>
</feed>
