---
layout: none
---
<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Transactional</title>
  <id>https://transactional.blog/</id>
  <updated><%= Time.now.utc.rfc3339 %></updated>
  <author>
    <name>Alex Miller</name>
  </author>
  <link href="<%= join_paths(config[:domain], config[:http_prefix], "feed.xml") %>" rel="self" type="application/atom+xml"/>
<% category_name = blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.draft }
  .select {|a| a.path.end_with? 'index.html'}
  .map {|a| [a.data.category, a.title]}
  .to_h %>
<% category_topic = blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.draft }
  .select {|a| a.path.end_with? 'index.html'}
  .select {|a| !a.data.topic.nil?}
  .map {|a| [a.data.category, a.data.topic]}
  .to_h %>
<% blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.draft}
  .select {|a| !(a.path.end_with? 'index.html')}
  .map {|a| [ a.data.date.is_a?(String) ? Time.zone.parse(a.data.date) : a.data.date, a]}
  .sort_by {|date, a| [date, (a.data&.order&.to_i || 0)]} # no nil allowed in sort
  .reverse
  .each do |date, post| %>
  <entry>
    <% category_heading = if post.data.category != 'blog' then category_name[post.data.category] + ": " else "" end %>
    <title><%= category_heading + post.title %></title>
    <link href="<%= join_paths(config[:domain], config[:http_prefix], post.url) %>" type="text/html"/>
    <id><%= join_paths(config[:domain], config[:http_prefix], post.url) %></id>
    <% page_topic = post.data.topic || category_topic[post.data.category] %>
    <% if !page_topic.nil? %>
    <category term="<%= page_topic %>" scheme="https://transactional.blog/" label="<%= page_topic %>" />
    <% else puts("WARNING: No topic for " + category_heading + post.title) %>
    <% end %>
    <published><%= date.rfc3339 %></published>
    <updated><%= date.rfc3339 %></updated>
    <% post_summary = post.summary %>
    <% if post_summary %>
    <% summary_text = html_to_text(post_summary.strip.delete("\n")) %>
    <% if summary_text != "" %>
    <summary><%= summary_text %></summary>
    <% end %>
    <% end %>
  </entry>
<% end %>
</feed>