---
layout: none
---
<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Transactional</title>
  <id>https://transactional.blog/</id>
  <updated><%= Time.now.utc.rfc3339 %></updated>
  <link href="<%= join_paths(config[:domain], config[:http_prefix], "feed.xml") %>" rel="self" type="application/rss+xml"/>
<% category_name = blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.draft }
  .select {|a| a.path.end_with? 'index.html'}
  .map {|a| [a.data.category, a.title]}
  .to_h %>
<% blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.draft}
  .select {|a| !(a.path.end_with? 'index.html')}
  .map {|a| [ a.data.date.is_a?(String) ? Time.zone.parse(a.data.date) : a.data.date, a]}
  .sort_by {|date, a| [date, (a.data&.order&.to_i || 0)]} # no nil allowed in sort
  .reverse
  .each do |date, post| %>
  <entry>
    <% category_heading = if post.data.category != 'blog' then category_name[post.data.category] + ": " else "" end %>
    <title><%= category_heading + post.title %></title>
    <link ref="<%= join_paths(config[:domain], config[:http_prefix], post.url) %>" type="text/html"/>
    <id><%= join_paths(config[:domain], config[:http_prefix], post.url) %></id>
    <category term="<%= post.data.category %>" scheme="section" label="<%= category_name[post.data.category] %>" />
    <published><%= date.rfc3339 %></published>
    <% if post.summary %>
    <% summary_text = html_to_text(post.summary.strip.delete("\n")) %>
    <% if summary_text != "" %>
    <summary><%= summary_text %></summary>
    <% end %>
    <% end %>
  </entry>
<% end %>
</feed>