---
title: transactional.blog
style: index
nofooter: true
---

<% category_name = blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden }
  .select {|a| a.path.end_with? 'index.html'}
  .map {|a| [a.data.category, a.title]}
  .to_h %>

<% blog.articles
  .select {|a| !(@app.environment? :transactionalblog) || !a.data.hidden}
  .select {|a| !(a.path.end_with? 'index.html')}
  .sort_by {|a| a.date}
  .reverse
  .each do |article| %>
  <div class="article">
    <div class="heading">
      <span class="date"><%= article.date.strftime("%Y-%m-%d") %></span>
      <span class="title"><h3>
        <% if article.data.category != 'blog' %>
          <a href="<%= article.data.category %>/index.html" ><%= category_name[article.data.category] %></a>:
        <% end %>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3></span>
      <% if article.data.hidden %><span class="attributes">Hidden</span><%end%>
    </div>
    <div class="summary">
      <%= article.summary %>
    </div>
  </div>
<% end %>
